{{!-- Tabla de mensajes --}}
{{#each messages}}
<div>
    <img style="width:40px; height:40px; border-radius: 50%;" src="{{this.avatar}}" >
    <strong style="color: blue">{{this.mail}}</strong>
    <span style="color: brown">{{this.date}}</span>:
    <em style="color: green">{{this.text}}</em>
</div>
{{/each}}