<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>      
      <div class="container d-flex justify-content-center border border-1 mt-3">
          <div>
              <h1 class="text-center">Login de usuario</h1>
              <form method="POST" action="/login" class="d-flex align-items-center">
                  <input type="text" name="username" id="username" placeholder="username" class="m-1">
                  <input type="password" name="password" id="password" placeholder="password" class="m-1">
                  <button class="btn btn-primary m-1" type="submit">Iniciar sesión</button>
              </form>
              <p class="text-center mb-0">No tenes cuenta?</p>
              <p class="text-center mt-0"><a href="/signup">Registrarse</a></p>
          </div>
      </div>
  </body>
</html>