<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div>
      <h1>USER ERROR signup</h1>
      <a href="/signup">VOLVER</a>
    </div>
  </body>
</html>
