<div>
  <div class="d-flex justify-content-between bg-primary p-3">
    <div class="d-flex">
            <img
            class="bg-info"
              src="https://tercera-entrega-coder.herokuapp.com/images/usuario-<%=usuario.userMail %>.jpeg"
              alt=""
              style="width: 60px; height: 60px; border-radius: 50%"
            />
    </div>
    <div class="btn-group align-items-center p-3">
        <a type="button" class="btn btn-info" href="/">Productos</a>
        <a type="button" class="btn btn-info" href="/carrito"><i class="fas fa-shopping-cart"></i></a>

      <button
        type="button"
        class="btn btn-info dropdown-toggle dropdown-toggle-split"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/infoUser">Info</a></li>
        <li><a class="dropdown-item" href="/logout">Desloguearse</a></li>
      </ul>
    </div>
  </div>
</div>

